@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}

/* Shared style */

.text-primary{
    color: #FD6E0A;
}

.color-2{
   color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

/* Header */

.header{
    
    background-image: url(../portfolio-resources/images/developer.png), url(../portfolio-resources/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}

/* Nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
}

/* Bannar style */

.bannar{
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0 230px;
    align-items: center;
}

.bannar-content{
    max-width: 480px;
}
.bannar-gridding{
    font-size: 35px;
    font-weight: 600;
}

.bannar-title{
    font-size: 50px;
    font-weight: bold;
    color: #181818;
}

.bannar-discription{
    font-size: 18px;
    opacity: 0.6;
    text-align: justify;
}

.bannar-img{
    width: 600px;
}

/* Main section style */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* About section style */

.about-me{
    margin: 150px auto;
    background-color: #FFF8F3;
    padding: 130px 150px;
    text-align: center;
    border-radius: 10px;
    
}

.about-me-section{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.about-title{
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
}

.about-decrip{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
    opacity: 0.7;
}

.item-title{
    opacity: 0.6;
}

.item-descrip{
    font-weight: 800;
}

/* work section style */

.work-section{
    text-align: center;
}

.work-title{
    font-size: 35px;
    font-weight: bold;
    font: #181818;
    margin-bottom: 30px;
}
    

.work-descrip{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    width: 900px;
    margin: 0 auto;
}
.work-boxs{
    display: flex;
    margin-top: 50px;
    margin-bottom: 130px;
    justify-content: space-around;
    

}

.work-box{
    height: 370px;
    width: 260px;
    text-align: left;
    box-shadow: 0px  3px 10px 0px rgba(0, 0, 0, 0.6);
    padding: 30px;
}

.work-box-title{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
    margin-top: 30px;
}

.work-box-descrip{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

/* resume section style */



.resume-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}

.resume-container{
    margin-top: 113px;
    display: flex;
}

.education-box{
    width: 50%;
}

.education-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.education-containt{
    margin: 30px 71px 30px 0;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 30px;
}
.deu-cont-title{
    font-size: 25px;
    color:#474747;
    font-weight: bold;
}

.deu-cont-subtitle{
    font-size: 20px;
    color: #757575;
    font-weight: 500;
    margin-top: 10px;
}

 .education-description{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

.resume-btn{
    text-align: center;
}

